
{% extends 'base.html' %}

{% block title %} Data {% endblock %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block body %}
<!-- INPUT FORM -->
<h3>Select your shit:</h3>
<form method="post">
    <div class="form-group">
        <label>Yahoo Finance Symbol</label>
        <input type="text" name="symbol" class="form-control" placeholder="AAPL" required value={{request.form.symbol}}>
    </div>
    <div class="form-group">
        <p>Dates</p>
        <label>   from:</label>
        <input type="text" name="from" class="form-control" placeholder="YYYY-MM-DD" required value={{request.form.from}}>
        <label>   to:</label>
        <input type="text" name="to" class="form-control" placeholder="YYYY-MM-DD or if empty it's up to today" value={{request.form.to}}>
    </div>
    <div class="form-group">
        <label>Variable to predict</label>
        <input type="text" name="variable" class="form-control" placeholder="Close, Open, High, Low, Volume" required value={{request.form.variable}}>
    </div>
    <button type="submit" class="btn btn-primary">Get data</button>
</form>
<script>

</script>

<!-- PLOT -->
<br><div>
    <img src="{{img}}" class="img-fluid" alt="Responsive image">
</div>
<script>
    $("img").on("error", function(){ $(this).hide(); });
</script>
{% endblock %}
