
{% extends 'base.html' %}

{% block title %} Model {% endblock %}

{% block head %}
 {{ super() }}
{% endblock %}

{% block body %}
<!-- INPUT FORM -->
<h3>Select my shit:</h3>
<form method="post">
    <div class="form-group">
        <label>Window size</label>
        <input type="text" name="window" class="form-control" placeholder="20" required value={{request.form.window}}>
    </div>
    <div class="form-group">
        <label>Days ahead to predict</label>
        <input type="text" name="ahead" class="form-control" placeholder="5" required value={{request.form.ahead}}>
    </div>
    <div class="form-group">
        <label>Number of Neurons your A.I. shall use</label>
        <input type="text" name="neurons" class="form-control" placeholder="50" required value={{request.form.neurons}}>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>
<script>

</script>

<!-- TABLE -->
<br><div>
    {{dtf | safe}}
</div>

<!-- PLOT -->
<br><div>
    <img src="{{img}}" class="img-fluid" alt="Responsive image">
</div>
<script>
    $("img").on("error", function(){ $(this).hide(); });
</script>
{% endblock %}
