body {
	min-height: 75rem;
  	padding-top: 4.5rem; /* Show it is fixed to the top */
	background-color: rgb(240, 240, 240); /*grey*/
}


.topnav {
	background-color: rgb(0, 0, 0) !important; /*black*/
	color: rgb(255, 255, 255) !important; /*white*/
}
